[submodule "modules"]
	path = modules
	url = https://github.com/Nur1Labs/modules.git
[submodule "class"]
	path = class
	url = https://github.com/Nur1Labs/class.git
[submodule "include"]
	path = include
	url = https://github.com/Nur1Labs/include.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/Nur1Labs/cmake.git
[submodule "library"]
	path = library
	url = https://github.com/Nur1Labs/library.git
[submodule "utils"]
	path = utils
	url = https://github.com/Nur1Labs/utils.git
